<form (submit)= "addUser(newUser)">
    <input type="text" #newUser>
    <button>Send</button>
</form>



<ul *ngIf = "showList">
    <li *ngFor = "let user of users">
        {{user}}
        <button (click) = "deleteUser(user)"> X </button>
    </li>
</ul>

<button (click) = "isShowList()">
    {{showList ? "Borrar lista" : "Mostrar Lista"}}
</button>
<div>  
    <form>
        <input type="text" name="name" [(ngModel)]="name"><br>
        <input type="text" name="age" [(ngModel)]="age">
    </form>

    name : {{name}}<br>
    age : {{age}}
</div>
